*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
  background: #88AD35;  
  color: #ffffff;        
}

.m-20{
    margin-top: 30px;
}

.html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.img {
  max-width: 100%;
  height: auto;
  display: block;
}